* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
	color: #fff;
}

html {
	scroll-behavior: smooth;
}

main {
	min-height: 100vh;
	background-color: #242424;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

section {
	position: absolute;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-image: url(../images/light.gif);
	height: 90vh;
	width: 90%;
	z-index: 2;
	padding: 10px;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

nav {
	position: absolute;
	top: 0;
	left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
	position: absolute;
	top: 0;
	display: flex;
	list-style: none;
	margin-top: 10px;
}

li a {
	display: inline-block;
	font-size: 1rem;
	align-items: center;
	padding: 5px;
	margin: 10px;
	text-decoration: none;
}

li:hover a {
	color: #01C38D;
}

ul img {
	width: 50px;
	height: 50px;
}

.count-down {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
hr {
  margin: auto;
  width: 50%;
  margin-bottom: 5px;
}
/*About Us-Page*/
#aboutUs-container {
	display: flex;
	justify-content: center;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 70vh;
	overflow: hidden;
}

 #club-info {
  top: 10%;
  text-align: center;
  width: 100%;
  height: 30%;
  padding: 5px;
	font-size: 1.5rem;
}

/*Accorddion*/

#box-container {
	display: flex;
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
	height: 70%;
	padding-top: 15px;

}


#box {
	padding: 10px;
	overflow: hidden;
	height: 100%;
	width: 100%;
	transition: all ease-out 1s;
}


#box:hover {
	width: 2450px;
}

/*Content inside the box*/
#box h3 {
	text-transform: uppercase;
}

.text {
	padding: 0 5px;


}
#box p {
	opacity: 0;
	padding-top: 20px;
	font-size: 1.8rem;
}
#box:hover p {
	opacity: 1;
	transition: all ease-in 2s;
}


.box1 {
	background: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6));
	background-image: url(../images/maxtwain9.jpg);
	background-position: center;
	background-size: cover;
}

.box2 {
	background: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6));
	background-image: url(../images/maxtwain-mask.jpg);
	background-position: center;
	background-size: cover;
}
.box3 {
	background: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6));
	background-image: url(../images/maxtwain-red.jpg);
	background-position: center;
	background-size: cover;
}
.box4 {
	background: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6));
	background-image: url(../images/maxtwain8.jpg);
	background-position: center;
	background-size: cover;
}

@media (max-width: 750px) {}

/*Gallery*/

/*Footer*/
footer {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 5px;

}
footer img {
	background-size: cover;
	background-position: center;
	width: 50px;
	height: 50px;
	padding: 10px;
}
